h1 {
    padding: 0 1rem;
}

.application-name {
    margin: 4px 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-sidenav-container {
    flex-grow: 1;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    transition: width 0.3s ease;

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }

}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .iframe-row {
        flex-grow: 1;
        position: relative;
    }
}

mat-list-item {
    padding-right: 0;

    mat-icon {
        margin-right: 16px;
    }
}

.expanded {
    width: 250px;
}