h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-sidenav-container {
    flex-grow: 1;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    // padding-top: 3.5rem;
    transition: width 0.3s ease;

    // @media screen and (min-width: 600px) {
    //     padding-top: 4rem;
    // }

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }

}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .iframe-row {
        flex-grow: 1;
        position: relative;
    }
}

.entry {
    mat-icon {
        width: 24px !important;
    }
}

.expanded {
    width: 250px;
}